@model EPlast.ViewModels.ViewAnnualReportsViewModel
@{
    ViewData["Title"] = "Річні звіти станиць";
}

<div class="m-5 shadow-lg">
    @using (Html.BeginForm(FormMethod.Post))
    {
        <h1 class="text-center">Річні звіти станиць</h1>
        <div class="form-row">
            <div class="col p-2 m-2 border shadow-lg">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col m-lg-2">
                            @Html.Label("Виберіть округ")
                            @Html.DropDownList("regions", Model.Regions, new { @class = "form-control" })
                        </div>
                        <div class="col m-lg-2">
                            @Html.Label("Виберіть рік")
                            @Html.DropDownList("years", Model.Years, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group m-lg-2">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Непідтверджені</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Підтверджені</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Скасовані</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Станиця</th>
                                                <th>Подавач</th>
                                                <th>Дата подання</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var annualReport in Model.UnconfirmedAnnualReports)
                                            {
                                                <tr>
                                                    <td>@annualReport.City.Name</td>
                                                    <td>@annualReport.User.FirstName @annualReport.User.LastName</td>
                                                    <td>@annualReport.Date.Date.ToShortDateString()</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-2">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Станиця</th>
                                                <th>Подавач</th>
                                                <th>Дата подання</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var annualReport in Model.ConfirmedAnnualReports)
                                            {
                                                <tr>
                                                    <td>@annualReport.City.Name</td>
                                                    <td>@annualReport.User.FirstName @annualReport.User.LastName</td>
                                                    <td>@annualReport.Date.Date.ToShortDateString()</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Станиця</th>
                                                <th>Подавач</th>
                                                <th>Дата подання</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var annualReport in Model.CanceledAnnualReports)
                                            {
                                                <tr>
                                                    <td>@annualReport.City.Name</td>
                                                    <td>@annualReport.User.FirstName @annualReport.User.LastName</td>
                                                    <td>@annualReport.Date.Date.ToShortDateString()</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col p-2 m-2 border shadow-lg">
                <div class="form-group">
                    <h4 class="text-center">Річний звіт станиці</h4>
                </div>
                <div class="form-group p-3 m-2 border">
                    <h5>Голова новообраної старшини</h5>
                </div>
                <div class="form-group p-3 m-2 border">
                    <h5>Правовий статус осередку</h5>
                </div>
                <div class="form-group p-3 m-2 border">
                    <h5>УПП</h5>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Кількість гніздечок пташат:</label></div>
                        <div class="col"><label class="col-form-label">Кількість пташат:</label></div>
                    </div>
                </div>
                <div class="form-group p-3 m-2 border">
                    <h5>УПН</h5>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Кількість самостійних роїв:<br></label></div>
                        <div class="col"><label class="col-form-label">Кількість новацтва:<br></label></div>
                    </div>
                </div>
                <div class="form-group p-3 m-2 border">
                    <h5>УПЮ</h5>
                    <div class="form-row">
                        <div class="col">
                            <label>Кількість куренів у станиці/паланці (окрузі/регіоні):<br></label>
                            <div class="form-row">
                                <div class="col"><label class="col-form-label">Кількість самостійних гуртків:<br></label></div>
                                <div class="col"><label class="col-form-label">Кількість неіменованих разом:<br></label></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><label class="col-form-label">Кількість прихильників/ць:<br></label></div>
                                <div class="col"><label class="col-form-label">Кількість учасників/ць:<br></label></div>
                            </div>
                            <div class="form-row">
                                <div class="col"><label class="col-form-label">Кількість розвідувачів:<br></label></div>
                                <div class="col"><label class="col-form-label">Кількість скобів/вірлиць:<br></label></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group p-3 m-2 border">
                    <h5>УСП<br></h5>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Кількість старших пластунів прихильників:<br></label></div>
                        <div class="col"><label class="col-form-label">Кількість старших пластунів:<br></label></div>
                    </div>
                </div>
                <div class="form-group p-3 m-2 border">
                    <h5>УПС</h5>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Кількість сеньйорів пластунів прихильників:<br></label></div>
                        <div class="col"><label class="col-form-label">Кількість старших пластунів:<br></label></div>
                    </div>
                </div>
                <div class="form-group p-3 m-2 border">
                    <h5>Адміністрування та виховництво<br></h5>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Кількість діючих виховників (з усіх членів УСП,УПС):<br></label></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Кількість адміністраторів (в проводах будь якого рівня):<br></label></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Кількість тих, хто поєднує виховництво та адміністрування:<br></label></div>
                    </div>
                </div>
                <div class="form-group p-3 m-2 border">
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Кількість пільговиків:<br></label></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Кількість членів Пластприяту:<br></label></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Кількість почесних членів:<br></label></div>
                    </div>
                </div>
                <div class="form-group p-3 m-2 border">
                    <h5>Залучені кошти<br></h5>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Державні кошти:<br></label></div>
                        <div class="col"><label class="col-form-label">Внески:<br></label></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">Пластовий заробіток:<br></label></div>
                        <div class="col"><label class="col-form-label">Спонсорські кошти:<br></label></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col text-center"><button class="btn btn-primary btn-success" type="button">Підтвердити</button></div>
                    <div class="col text-center"><button class="btn btn-primary btn-success" type="button">Переглянути деталі</button></div>
                </div>
            </div>
        </div>
    }
</div>