@model IEnumerable<EPlast.DataAccess.Entities.AnnualReport>
@using EPlast.BussinessLayer.ExtensionMethods
@{
    ViewData["Title"] = "Річні звіти";
}

<div class="view-annual-reports-form m-3">
    <form data-ajax="true" data-ajax-mode="replace">
        <h1>Річні звіти станиць</h1>
        <div class="form-group m-4">
            <div class="d-flex justify-content-center buttons-wrapper">
                <button id="addAnnualReport" class="btn btn-sm btn-primary btn-management">Додати</button>
                <button id="reviewAnnualReport" class="btn btn-sm btn-info btn-management" disabled>Переглянути</button>
                <button id="confirmAnnualReport" class="btn btn-sm btn-success btn-management" disabled>Підтвердити</button>
                <button id="cancelAnnualReport" class="btn btn-sm btn-danger btn-management" disabled>Скасувати</button>
            </div>
            <div>
                <table id="AnnualReportsTable" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Станиця</th>
                            <th>Регіон</th>
                            <th>Подавач</th>
                            <th>Дата подання</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var annualReport in Model)
                        {
                            <tr>
                                <td>@annualReport.ID</td>
                                <td>@annualReport.City.Name</td>
                                <td>@annualReport.City.Region.RegionName</td>
                                <td>@annualReport.User.FirstName @annualReport.User.LastName</td>
                                <td>@annualReport.Date.ToShortDateString()</td>
                                <td>@annualReport.Status.GetDescription()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="ModalContent">

        </div>
        <partial name="_SuccessModal" model='""' />
        <partial name="_ErrorModal" model='""' />
    </form>
</div>