@using EPlast.ViewModels
@model ClubViewModel
@{
    ViewData["Title"] = "ClubMembers";
}
<div class="content-wrapper">
    <div class="all-clubs-view">
        <h1 class="all-clubs-title">Члени куреня</h1>
        <div class="club-list">
            @foreach (var item in Model.Club.ClubMembers)
            {
                @if (@item.IsApproved)
                {
                <div class="club-block-wrapper">
                    <div class="club-block">
                        <a class="club-img-wrapper blocking">
                            <div class="club-img" style="background-image:url('/images/Users/@item.User.ImagePath')"></div>
                        </a>
                        <a class="club-name" style="color: black;">
                            @item.User.FirstName @item.User.LastName
                        </a>
                        @if (Model.ClubAdmin != null && (ViewBag.usermanager.GetUserId(User) == Model.ClubAdmin.Id || User.IsInRole("Admin")))
                        {
                            <a class="buttons"  asp-controller="Club" asp-action="ChangeIsApprovedStatus" asp-route-index="@item.ID" asp-route-clubindex="@item.Club.ID" style="display: block; color: white;">Видалити з куреня</a>
                        }
                    </div>
                </div>
                }
            }

        </div>
        <a asp-controller="Club" asp-action="Club" asp-route-index="@Model.Club.ID" class="buttons">Назад</a>
    </div>
</div>