@using EPlast.ViewModels
@model ClubViewModel
@{
    ViewData["Title"] = "ClubMembers";
}
<div class="content-wrapper">
    <div class="all-clubs-view">
        <h1 class="all-clubs-title">Члени куреня</h1>
        <div class="club-list">
            @foreach (var item in Model.Members)
            {
                <div class="club-block-wrapper">
                    <div class="club-block club-wrappers-radius">
                        <a class="club-img-wrapper blocking">
                            <div class="club-img" style="background-image:url('/images/Users/@item.User.ImagePath')"></div>
                        </a>
                        <a class="club-name" style="color: black;">
                            @item.User.FirstName @item.User.LastName
                        </a>
                        @if (Model.ClubAdmin != null && (ViewBag.usermanager.GetUserId(User) == Model.ClubAdmin.Id || User.IsInRole("Admin")))
                        {
                            <a  class="btn btn-primary btn-lg colors-for-club-buttons" role="button" asp-controller="Club" asp-action="ChangeIsApprovedStatus" asp-route-index="@item.ID" asp-route-clubindex="@item.Club.ID" style="display: block; color: white;">Видалити з куреня</a>
                        }
                    </div>
                </div>
            }
            @if (Model.Members.Count == 0)
            {
                <p>В цьому курені поки немає проводу!</p>
            }
        </div>
        <a asp-controller="Club" asp-action="Club" asp-route-index="@Model.Club.ID"  class="btn btn-primary btn-lg colors-for-club-buttons" role="button">Назад</a>
    </div>
</div>