@using EPlast.ViewModels
@model ClubViewModel
@{
    ViewData["Title"] = "Club";
}
<div class="content-wrapper">
          <div class="club-page-wrapper">
            <div class="main-info grid-block">
              <h1 class="grid-header">@Model.Club.ClubName
                <a asp-controller="Club" asp-action="EditClub" asp-route-index="@Model.Club.ID" style="color: #3c5438;"><i class="material-icons">settings</i></a>
                </h1>
  
              <div class="top-info">
                <img src="/images/Club/@Model.Club.Logo" alt="" class="curin-img">
              </div>
  
              <div class="bottom-info-content">
                  @foreach (var item in Model.Club.ClubAdministration.Take(4))
                  {
                      <div class="line-pair">
                          <p class="line-upper">@item.AdminType.AdminTypeName</p>
                          <p class="line-lower">@item.ClubMembers.User.FirstName.ToString() @item.ClubMembers.User.LastName.ToString()</p>
                      </div>
                  }
                  <a asp-controller="Club" asp-action="ClubAdmins" asp-route-index="@Model.Club.ID" class="buttons">Більше</a>
              </div>
            </div>
  
            <div class="secondary-info vertical-grid">
                @if (Model.Club.Description != null)
                {
                <div class="about-info grid-block">
                    <h1 class="grid-header">Про нас</h1>

                    <p class="info">
                        @if (Model.Club.Description.Length < 100)
                        {
                            @Model.Club.Description
                        }
                        else
                        {
                            @(Model.Club.Description.Substring(0, 97) + "...")
                        }
                    </p>
                    @if (Model.Club.Description.Length > 100)
                    {
                        <a asp-controller="Club" asp-action="ClubDescription" asp-route-index="@Model.Club.ID" class="buttons">Читати повністю</a>
                    }
                </div>
                }


                <div class="people-info horizontal-grid">
                    <div class="members-info grid-block">
                        <h1 class="grid-header">Провід куреня</h1>
                        <div class="members-list">
                            @foreach (var item in Model.Club.ClubMembers.Take(6))
                            {
                                @if (@item.IsApproved)
                                {
                                    <div class="member-block">
                                        <img src="/images/Users/@item.User.ImagePath" alt="" class="member-img rounded-circle">
                                        <p class="member-name">@item.User.FirstName.ToString() @item.User.LastName.ToString()</p>

                                    </div>
                                }
                            }
                        </div>
                        <a asp-controller="Club" asp-action="ClubMembers" asp-route-index="@Model.Club.ID" class="buttons">Переглянути всіх</a>
                    </div>
                    <div class="followers-info grid-block">
                        <h1 class="grid-header">Зацікавлені</h1>

                        <div class="members-list">
                            @foreach (var item in Model.Club.ClubMembers.Take(6))
                            {
                                @if (!@item.IsApproved)
                                {
                                    <div class="member-block">
                                        <div class="member-wrapper">
                                            <img src="/images/Users/@item.User.ImagePath" alt="" class="member-img rounded-circle">

                                            <div class="plus">
                                                +
                                            </div>
                                        </div>
                                        <p class="member-name">@item.User.FirstName.ToString() @item.User.LastName.ToString()</p>

                                    </div>
                                }
                            }
                        </div>

                        <a asp-controller="Club" asp-action="ClubFollowers" asp-route-index="@Model.Club.ID" class="buttons">Переглянути всіх</a>
                    </div>
                </div>
            </div>
          </div>
        </div>