@using EPlast.ViewModels
@model ClubViewModel
@{
    ViewData["Title"] = "ClubFollowers";
}
    <div class="content-wrapper">
        <div class="all-clubs-view">
            <h1 class="all-clubs-title">Прихильники куреня</h1>
            <div class="club-list">
                @foreach (var item in Model.Club.ClubMembers)
                {
                    @if (!@item.IsApproved)
                    {
                        <div class="club-block-wrapper">
                            <div class="club-block">
                                <a class="club-img-wrapper blocking" asp-controller="Account" asp-action="UserProfile" asp-route-index="@item.User.Id">
                                    <div class="club-img" style="background-image:url('/images/Users/@item.User.ImagePath')"></div>
                                </a>
                                <a class="club-name" asp-controller="Account" asp-action="UserProfile" asp-route-index="@item.User.Id" style="color: black;">
                                    @item.User.FirstName @item.User.LastName
                                </a>
                                <a class="buttons" style="display: block; color: white;">Додати в курінь</a>
                            </div>
                        </div>
                    }
                }

            </div>
            <a asp-controller="Club" asp-action="Club" asp-route-index="@Model.Club.ID" class="buttons">Назад</a>
        </div>
    </div>
   