@using EPlast.DataAccess.Repositories;
@using EPlast.ViewModels;
@model DecesionViewModel
@{
    ViewData["Title"] = "Створення рішень";
}
<div class="create-raport-form">
    <form method="post" asp-action="SaveReport" asp-controller="Report">
        <h2 class="text-center">Додати рішення пластового проводу<br></h2>
        <div class="form-group">
            <label>
                <strong>Назва рішення</strong>
                <br>
            </label>
            @Html.TextBoxFor(x => x.Decesion.Name, new { @placeholder = "Назва рішення", @class = "form-control" })
            <span asp-validation-for="@Model.Decesion.Name" style="color:#db0b3c;" />
        </div>
        <div class="form-group">
            <label>
                <strong>Рішення органу</strong>
                <br>
            </label>
            @Html.DropDownListFor(x => x.Decesion.Organization.ID, Model.SelectListItems, "Виберіть орган влади рішення"
            , new { @class = "form-control" })
            <span asp-validation-for="@Model.Decesion.Organization.OrganizationName" style="color:#db0b3c;" />
        </div>
        <div class="form-group">
            <label>
                <strong>Тематика рішення</strong>
                <br>
            </label>
            @Html.TextBoxFor(x => x.Decesion.DecesionTarget.TargetName,
            new { @id = "autocomplete_input", @placeholder = "Тематика рішення", @list = "DecisionType-value", @class = "form-control", @Value = "" })
            <span asp-validation-for="@Model.Decesion.DecesionTarget.TargetName" style="color:#db0b3c;" />
            <datalist id="DecisionType-value">
                @foreach (var item in Model.DecesionTargets)
                {
                    <option data-value="@item.ID" value="@item.TargetName"></option>
                }
            </datalist>
            @Html.HiddenFor(x => x.Decesion.DecesionTarget.ID, new { @id = "autocomplete_input_id_0" })
        </div>
        <div class="form-group">
            <label>
                <strong>Дата рішення</strong>
                <br>
            </label>
            <br>
            @Html.TextBoxFor(x => x.Decesion.Date,
            new { type = "datetime", @placeholder = "Назва рішення", @id = "datepicker", @class = "form-control" })
            <span asp-validation-for="@Model.Decesion.Date" style="color:#db0b3c;" />
        </div>
        <label>
            <strong>Текст рішення</strong>
            <br>
        </label>
        <div class="form-group">
            @Html.TextAreaFor(x => x.Decesion.Description, new { @placeholder = "Опис", @rows = "14", @class = "form-control" })
            <span asp-validation-for="@Model.Decesion.Description" style="color:#db0b3c;" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="sbmt" type="submit">Опублікувати</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}