@{
    Layout = "~/Views/Shared/_LayoutWithoutFooter.cshtml";
}

@using EPlast.ViewModels;
@model LoginViewModel

<div class="main-wrapper" style="background-color: rgb(245,245,245);">
<div class="login-clean" style="background-color: rgb(245, 245, 245);">
    <div class="form">
        <div class="login-register-switcher">
            <div class="login-rectangle">
                <div class="switcher-text login-active">
                    <a class="login-text">Увійти</a>
                    <a class="register-text" asp-action="Register" asp-controller="Account">Зареєструватись</a>
                    <div class="active-rectangle"></div>
                </div>
            </div>
            <div class="circle-wrapper">
                <div class="login-circle">
                    <p>АБО</p>
                </div>
            </div>
        </div>
        <form method="post" class="login-form" asp-action="Login" asp-controller="Account">
            <div class="validation" asp-validation-summary="ModelOnly" style="color:#db0b3c;"></div>
            <div class="form-group">
                <input asp-for="@Model.Email" class="form-control" type="email" name="Email"
                       placeholder="Електронна пошта" />
                <span asp-validation-for="@Model.Email" style="color:#db0b3c;" />
            </div>
            <div class="form-group">
                <input asp-for="@Model.Password" class="form-control" type="password" name="Password"
                       placeholder="Пароль" />
                <span asp-validation-for="@Model.Password" style="color:#db0b3c;" />
            </div>
            <div class="form-group d-flex">
                <input asp-for="@Model.RememberMe" type="checkbox" class="form-control" name="RememberMe" style="width:25px; height:25px;" />
                <label style="margin-left:15px;">Запам'ятати мене</label>
                <span asp-validation-for="@Model.RememberMe" />
            </div>
            <div class="form-group">
                <button class="btn btn-block text-light" type="submit"
                        style="background-color: #3c5438">
                    Увійти
                </button>
            </div>
            <a class="forgot" asp-action="ForgotPassword" asp-controller="Account" style="font-size:16px;">Забули пароль?</a>
        </form>
        <div class="login-buttons mt-2">
            @{
                if (Model.ExternalLogins.Count != 0)
                {
                    <form method="post" asp-action="ExternalLogin" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">
                        <div class="d-flex loginBtn-container">
                            <button type="submit" class="loginBtn loginBtn--google" value="@Model.ExternalLogins[0].Name" name="provider">
                                Google
                            </button>
                            <button type="submit" class="loginBtn loginBtn--facebook" value="@Model.ExternalLogins[1].Name" name="provider">
                                Facebook
                            </button>
                        </div>
                    </form>
                }
                else
                {
                    <div>No external login providers</div>
                }
            }
        </div>
    </div>
</div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}