@model EventViewModel
    <div class="container mt-4 event-page-wrapper">
        @*Модальні вікна*@
        @await Html.PartialAsync("_EventModals")
        <input type="hidden" id="eventId" value=@Model.Event.ID>
        <div class="row mt-2 shadow rounded">
            <div class="col-md-4 ">
                <div class="row justify-content-center ">
                    <i class="far fa-handshake logo "></i>
                </div>

                <div id="pageIcons" class="row justify-content-around my-2  ">
                    @if (Model.IsUserEventAdmin)
                    {
                        <div class="column-md-4">
                            <a id="deleteIcon" class="event-remove ml-2" data-toggle="tooltip" data-placement="bottom" title="Видалити">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                        <div class="column-md-4">
                            <a class="event-link ml-2" data-toggle="tooltip" data-placement="bottom" title="Редагуати">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        <div class="column-md-4">
                            <a class="event-link ml-2" data-toggle="tooltip" data-placement="bottom" title="Ви адмін!">
                                <i class="fas fa-user-cog"></i>
                            </a>
                        </div>
                    }
                  else 
                  { 
                    @if (!Model.IsUserParticipant)
                    {
                        <div id="subscribeBlock" class="column-md-4 event-pen">
                            <a id="subscribeIcon" class="event-link ml-2" data-toggle="tooltip" data-placement="bottom" title="Зголоситись">
                                <i class="fas fa-pen-alt"></i>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div id="subscribeBlock" class="column-md-4 event-pen event-invisible">
                            <a id="subscribeIcon" class="event-link ml-2" data-toggle="tooltip" data-placement="bottom" title="Зголоситись">
                                <i class="fas fa-pen-alt"></i>
                            </a>
                        </div>
                    }

                    @if (Model.IsUserApprovedParticipant)
                    {
                        <div id="participantBlock" class="column-md-4 event-part">
                            <a class="event-link ml-2" data-toggle="tooltip" data-placement="bottom" title="Вітаємо! Ви учасник події.">
                                <i class="far fa-check-square"></i>
                            </a>
                        </div>
                    }

                    @if (Model.IsUserUndeterminedParticipant)
                    {
                        <div id="userClockBlock" class="column-md-4 event-participant-status">
                            <a id="userClock" class="participant-status ml-2" data-toggle="tooltip" data-placement="bottom" title="Ваша кандидатура розглядається">
                                <i class="fas fa-user-clock"></i>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div id="userClockBlock" class="column-md-4 event-participant-status event-invisible">
                            <a id="userClock" class="participant-status ml-2" data-toggle="tooltip" data-placement="bottom" title="Ваша кандидатура розглядається">
                                <i class="fas fa-user-clock"></i>
                            </a>
                        </div>
                    }

                    @if (Model.IsUserRejectedParticipant)
                    {
                        <div id="rejectBlock" class="events-participants-ban">
                            <a class="event-remove" data-toggle="tooltip" data-placement="right" title="Вашу заявку на участь у даній події відхилено">
                                <i class="fas fa-user-slash"></i>
                            </a>
                        </div>
                    }
                        if (!Model.IsUserParticipant || Model.IsUserRejectedParticipant)
                        {
                        <div id="unsubscribeBlock" class="column-md-4 event-unsubscribe event-invisible">
                            <a id="unsubscribeIcon" class="event-remove ml-2" data-toggle="tooltip" data-placement="bottom" title="Натисніть, щоб відписатись від івенту">
                                <i class="fas fa-user-minus"></i>
                            </a>
                        </div>
                        }
                       else
                       {
                        <div id = "unsubscribeBlock" class="column-md-4 event-unsubscribe">
                            <a id="unsubscribeIcon" class="event-remove ml-2" data-toggle="tooltip" data-placement="bottom" title="Натисніть, щоб відписатись від івенту">
                                <i class="fas fa-user-minus"></i>
                            </a>
                        </div>
                       }
                    }
                    <div class="column-md-4">
                        <div class="event-participants">
                            <a class="event-link" href="#btn-part" data-toggle="tooltip" data-placement="bottom" title="Учасники">
                                <i class="fas fa-users"></i>
                            </a>
                        </div>
                    </div>
                    <div class="column-md-4">
                        <div class="event-gallery">
                            <a class="event-link" href="#gallery" data-toggle="tooltip" data-placement="bottom" title="Галерея">
                                <i class="fas fa-images"></i>
                            </a>
                        </div>
                    </div>
                    <div class="column-md-4">
                        <div data-toggle="tooltip" data-placement="bottom" title="Адміністратор(-и) події">
                            <a class="event-link" data-toggle="collapse" data-target="#eventAdmins" aria-expanded="false" aria-controls="eventAdmins">
                                <i class="fas fa-users-cog"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="eventAdmins" class="row mt-4 ml-2 collapse">
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr>                              
                                <th>Admin</th>                               
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var eventAdmin in Model.Event.EventAdmins)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Account" asp-action="UserProfile" asp-route-userId=@eventAdmin.User.Id class="title-link">
                                            @(eventAdmin.User.FirstName + " " + eventAdmin.User.LastName)
                                        </a>
                                    </td>
                                    <td>@eventAdmin.User.UserName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8 ">
                <div class="row mt-4">
                    <div class="col-md-5 text-md-center ">
                        <p class="event-header font-weight-bold">Назва:</p>
                    </div>
                    <div class="col-md-7">
                        <p class="event-value ">@Model.Event.EventName</p>
                    </div>
                </div>
                <div class="row mt-2 align-items-center">
                    <div class="col-md-5 text-md-center ">
                        <p class="event-header font-weight-bold">Тип:</p>
                    </div>
                    <div class="col-md-7">
                        <p class="event-value ">@Model.Event.EventType.EventTypeName</p>
                    </div>
                </div>
                <div class="row mt-2 align-items-center">
                    <div class="col-md-5 text-md-center ">
                        <p class="event-header font-weight-bold">Категорія:</p>
                    </div>
                    <div class="col-md-7">
                        <p class="event-value ">@Model.Event.EventCategory.EventCategoryName</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-5 text-md-center ">
                        <p class="event-header font-weight-bold">Дата початку:</p>
                    </div>
                    <div class="col-md-7">
                        <p class="event-value ">@Model.Event.EventDateStart.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-5 text-md-center ">
                        <p class="event-header font-weight-bold">Дата завершення:</p>
                    </div>
                    <div class="col-md-7">
                        <p class="event-value ">@Model.Event.EventDateEnd.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-5 text-md-center ">
                        <p class="event-header font-weight-bold">Локація:</p>
                    </div>
                    <div class="col-md-7">
                        <p class="event-value ">@Model.Event.Eventlocation</p>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-5 text-md-center ">
                        <p class="event-header font-weight-bold">Статус:</p>
                    </div>
                    <div class="col-md-7">
                        <p class="event-value ">@Model.Event.EventStatus.EventStatusName</p>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-5 text-md-center ">
                        <p class="event-header font-weight-bold">Опис:</p>
                    </div>
                    <div class="col-md-7">
                        @*<p class="event-description"> <em>Дана подія присвячена екологічним проблемам України. Метою даного заходу є пробудити почуття відповідальності у молодого покоління перед природою.</em> </p>*@
                        <p class="event-description"> <em>@Model.Event.Description</em> </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Карусель -->

        <div class="row mt-3  justify-content-center  shadow rounded">
            <div class="col-md-12 mt-3 text-center">
                <div class="row ">
                    <h2 id="gallery" class="col-md-12 font-weight-bold plast-color">Галерея КПЗ-4056</h2>
                </div>
            </div>

            <div class="col-md-12  my-3">
                <div class="row  justify-content-center">
                    <div class="col-md-8  ">
                        <div id="demo" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="carousel-pictures" src="https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img class="carousel-pictures" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img class="carousel-pictures" src="https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg" width="1100" height="500">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row mt-3 mb-5 justify-content-сenter  shadow rounded">
            <div class="row mt-3  col-md-12 justify-content-center mb-1">
                <div class="col-md-8 text-center ">
                    <input type="button" id="btn-part" class="btn btn-success btn-md  btn-collapse" data-toggle="collapse" data-target="#myCollapsible" value="Потенційні учасники">
                </div>
            </div>
            <form id="myCollapsible" class="row mt-3  col-md-12 justify-content-center">
                <div class="row col-md-11 justify-content-center">
                    <div id="myTable" class="table-responsive">
                        <table id="dtParticipants" class="table table-bordered table-hover table-sm" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="th-sm">
                                        Користувач
                                    </th>
                                    <th class="th-sm">
                                        Email
                                    </th>
                                    <th class="th-sm">
                                        Поточний статус
                                    </th>
                                    @if (Model.IsUserEventAdmin) 
                                    {
                                    <th class="th-sm">
                                        Змінити статус
                                    </th>
                                    <th class="th-sm event-invisible">
                                        ParticipantID
                                    </th>
                                    }

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var participant in Model.EventParticipants)
                                {
                                    <tr>
                                        <td class="align-middle">
                                            <a asp-controller="Account" asp-action="UserProfile" asp-route-userId=@participant.User.Id class="title-link">
                                                @(participant.User.FirstName + " " + participant.User.LastName)
                                            </a>
                                        </td>
                                        <td class="align-middle">@participant.User.UserName</td>
                                        <td class="align-middle">@participant.ParticipantStatus.ParticipantStatusName</td>
                                        @if (Model.IsUserEventAdmin)
                                        {
                                        <td>
                                            <div class="btn-group btn-group-sm d-flex">
                                                <button type="button" class="btn btn-success approved">
                                                    <i style="font-size:15px" class="fas fa-check-square"></i>
                                                </button>
                                                <button type="button" class="btn btn-warning undetermined">
                                                    <i style="font-size:15px;" class="fas fa-user-clock"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger rejected">
                                                    <i style="font-size:15px" class="fas fa-user-slash"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="event-invisible">
                                            <input type="hidden" value=@participant.ID />
                                        </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        Користувач
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Поточний статус
                                    </th>
                                    @if (Model.IsUserEventAdmin)
                                    {
                                        <th>
                                            Змінити статус
                                        </th>
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
         
            </form>


        </div>

    </div>